<nav class="container-header">
  <div>
    <img src="/assets/Logo.png" alt="Logo" width="50" height="50">
  </div>
  <h2 style="color: aliceblue;">Welcome To Escapeworld Book Store</h2>  
  <ul>
      <li><a href="#"> Home </a></li>
      <li><a href="#"> Orders </a></li>
      <li><a routerLink="/User"> Users </a></li>
      <li><a href="#"> Contact us </a></li>
      <li><a href="#"> About </a></li>
      <li *ngIf="!isLoggedIn"><a routerLink="/Login"> Login </a></li>
      <li *ngIf="isLoggedIn">
        
          <div style="background-color: aliceblue;margin: 2; text-align: center; border-radius: 0.2rem;">
            Welcome {{isLoggedIn}}
          </div>         
        
    </li>
    <li *ngIf="isLoggedIn">
    <button *ngIf="isLoggedIn" (click)="logOut()" class="btn btn-danger" type="button">
      Logout
    </button>
  </li>
  </ul>
</nav>
